* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}

#temperature-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temperature-form > * {
  margin-bottom: 1rem;
}
